USE [master]
GO
/****** Object:  Database [SCADA_AirHeater]    Script Date: 07/05/2026 14:29:13 ******/
CREATE DATABASE [SCADA_AirHeater]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SCADA_AirHeater', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SCADA_AirHeater.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SCADA_AirHeater_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SCADA_AirHeater_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SCADA_AirHeater].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SCADA_AirHeater]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 07/05/2026 14:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Unit] [nvarchar](20) NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[OPCNodeName] [nvarchar](100) NULL,
	[OPCNamespace] [nvarchar](200) NULL,
	[OPCServerEndpoint] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TagName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlarmDefinition]    Script Date: 07/05/2026 14:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlarmDefinition](
	[AlarmDefinitionID] [int] IDENTITY(1,1) NOT NULL,
	[TagID] [int] NOT NULL,
	[AlarmName] [nvarchar](100) NOT NULL,
	[ConditionType] [nvarchar](20) NOT NULL,
	[LimitValue] [decimal](18, 4) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](200) NOT NULL,
	[Enabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AlarmDefinitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlarmEvent]    Script Date: 07/05/2026 14:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlarmEvent](
	[AlarmEventID] [bigint] IDENTITY(1,1) NOT NULL,
	[AlarmDefinitionID] [int] NOT NULL,
	[StartTimeUTC] [datetime2](0) NOT NULL,
	[EndTimeUTC] [datetime2](0) NULL,
	[AlarmValue] [decimal](18, 4) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Acknowledged] [bit] NOT NULL,
	[AcknowledgedBy] [nvarchar](100) NULL,
	[AcknowledgedTimeUTC] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[AlarmEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveAlarms]    Script Date: 07/05/2026 14:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ActiveAlarms]
AS
SELECT
    ae.AlarmEventID,
    ad.AlarmName,
    ad.Priority,
    ad.Message,
    ae.StartTimeUTC,
    CAST(ae.AlarmValue AS DECIMAL(18,2)) AS AlarmValue,
    t.Unit,
    ae.Status,
    ae.Acknowledged,
    ae.AcknowledgedBy,
    ae.AcknowledgedTimeUTC
FROM dbo.AlarmEvent ae
JOIN dbo.AlarmDefinition ad 
    ON ad.AlarmDefinitionID = ae.AlarmDefinitionID
JOIN dbo.Tag t
    ON t.TagID = ad.TagID
WHERE ae.Status = 'Active';
GO
/****** Object:  Table [dbo].[Measurement]    Script Date: 07/05/2026 14:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurement](
	[MeasurementID] [bigint] IDENTITY(1,1) NOT NULL,
	[TagID] [int] NOT NULL,
	[TimestampUTC] [datetime2](0) NOT NULL,
	[Value] [decimal](18, 4) NOT NULL,
	[QualityFlag] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MeasurementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlarmDefinition] ADD  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[AlarmEvent] ADD  DEFAULT (sysutcdatetime()) FOR [StartTimeUTC]
GO
ALTER TABLE [dbo].[AlarmEvent] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[AlarmEvent] ADD  DEFAULT ((0)) FOR [Acknowledged]
GO
ALTER TABLE [dbo].[Measurement] ADD  DEFAULT (sysutcdatetime()) FOR [TimestampUTC]
GO
ALTER TABLE [dbo].[Measurement] ADD  DEFAULT ('Good') FOR [QualityFlag]
GO
ALTER TABLE [dbo].[Tag] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AlarmDefinition]  WITH CHECK ADD  CONSTRAINT [FK_AlarmDefinition_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
GO
ALTER TABLE [dbo].[AlarmDefinition] CHECK CONSTRAINT [FK_AlarmDefinition_Tag]
GO
ALTER TABLE [dbo].[AlarmEvent]  WITH CHECK ADD  CONSTRAINT [FK_AlarmEvent_AlarmDefinition] FOREIGN KEY([AlarmDefinitionID])
REFERENCES [dbo].[AlarmDefinition] ([AlarmDefinitionID])
GO
ALTER TABLE [dbo].[AlarmEvent] CHECK CONSTRAINT [FK_AlarmEvent_AlarmDefinition]
GO
ALTER TABLE [dbo].[Measurement]  WITH CHECK ADD  CONSTRAINT [FK_Measurement_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
GO
ALTER TABLE [dbo].[Measurement] CHECK CONSTRAINT [FK_Measurement_Tag]
GO
/****** Object:  StoredProcedure [dbo].[AcknowledgeAlarm]    Script Date: 07/05/2026 14:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AcknowledgeAlarm]
    @AlarmEventID BIGINT,
    @AcknowledgedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.AlarmEvent
    SET Acknowledged = 1,
        AcknowledgedBy = @AcknowledgedBy,
        AcknowledgedTimeUTC = SYSUTCDATETIME()
    WHERE AlarmEventID = @AlarmEventID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetHistory]    Script Date: 07/05/2026 14:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHistory]
    @TagName NVARCHAR(100),
    @FromUTC DATETIME2(0),
    @ToUTC DATETIME2(0)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.TimestampUTC,
        CAST(m.Value AS DECIMAL(18,2)) AS Value,
        t.Unit,
        m.QualityFlag
    FROM dbo.Measurement m
    JOIN dbo.Tag t ON t.TagID = m.TagID
    WHERE t.TagName = @TagName
      AND m.TimestampUTC BETWEEN @FromUTC AND @ToUTC
    ORDER BY m.TimestampUTC ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetLatestValues]    Script Date: 07/05/2026 14:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLatestValues]
AS
BEGIN
    SET NOCOUNT ON;

    WITH Ranked AS (
        SELECT 
            t.TagName,
            t.Description,
            t.Unit,
            m.TimestampUTC,
            m.Value,
            m.QualityFlag,
            ROW_NUMBER() OVER (
                PARTITION BY t.TagID 
                ORDER BY m.TimestampUTC DESC
            ) AS rn
        FROM dbo.Measurement m
        JOIN dbo.Tag t ON t.TagID = m.TagID
    )
    SELECT 
        TagName,
        Description,
        Unit,
        TimestampUTC,
        CAST(Value AS DECIMAL(18,2)) AS Value,
        QualityFlag
    FROM Ranked
    WHERE rn = 1
    ORDER BY TagName;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertMeasurement]    Script Date: 07/05/2026 14:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertMeasurement]
    @TagName NVARCHAR(100),
    @Value DECIMAL(18,4),
    @QualityFlag NVARCHAR(20) = 'Good'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TagID INT;

    SELECT @TagID = TagID
    FROM dbo.Tag
    WHERE TagName = @TagName AND IsActive = 1;

    IF @TagID IS NULL
        THROW 50001, 'Tag not found or inactive.', 1;

    INSERT INTO dbo.Measurement (TagID, Value, QualityFlag)
    VALUES (@TagID, @Value, @QualityFlag);
END;
GO
USE [master]
GO
